server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://catalog-db:5432/catalogdb
    username: catalog
    password: catalog
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    defer-datasource-initialization: true
  sql:
    init:
      mode: always

